* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 24px;
    text-align: center !important;
    background-color: #F1E2F3;
    max-width: 772px;
}
main{
    align-items: center;
}
a:link, a:visited{
    color:#6C8B72;
    text-decoration: none;

}
 nav{
    border-bottom: 4px;
    border-top: 4px;
    border-color: black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
 }
a{
    background-color: #dfb1e2;
    padding: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
}

li {
    font-weight: bold;
    /* font-style: italic; */
}
p{
    border: 2px;
    padding: 4px;
    margin-bottom: 12px;
    /* border-style: double; */
    border-bottom-style:none;
}
.title{
    font-size: 32px;
    font-weight: bold;
    color:#6C8B72;
}

.style1{
    background-color:#74977B;
    font-weight: bold;
    margin-top: 6px;
    padding: 2px;
}

.style2{
    background-color: #6C8B72;
    font-weight: bold;
    
}