 * {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* margin: 4px; */
    margin-bottom: none;
    background-color: #F1D3F3;
 }

 nav{
    border-bottom: 4px;
    border-top: 4px;
    border-color: black;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.5s #DFB1E2 ease-in-out;
 }

li {
    font-weight: bold;
    /* font-style: italic; */
}
p{
    left: 45%;
    border: 4px;
    border-style: double;
}

.style1{
    background: linear-gradient(#74977B,#709277);
    /* background-color:#74977B; */
    font-weight: bold;
    margin-top: 6px;
}

.style2{
    background: linear-gradient(#709277, #6C8B72);
    background-color: #6C8B72;
    font-weight: bold;
    
}