* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 4px;
    margin-bottom: none;
    background-color: #F1E2F3;
 }

 nav{
    border-bottom: 4px;
    border-top: 4px;
    border-color: black;
    font-weight: bold;
    font-size: 18px;
 }

li {
    font-weight: bold;
    /* font-style: italic; */
}
p{
    border: 2px;
    border-style: double;
    border-bottom-style:none;
}

.style1{
    background-color:#74977B;
    font-weight: bold;
    margin-top: 6px;
}

.style2{
    background-color: #6C8B72;
    font-weight: bold;
    
}